/* HEADER AND BACKGROUND */
header {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 10000;
  background-color: green;
}

body {
  background-color: #FFF07C;
}

/* HEADER */

#Welcome {
  font-size: 30px;
  color: white;
  align: left;
  margin-top: 5px;
  margin-left: 10px;
}

.game-title {
  font-size: 30px;
  color: white;
  align: left;
  margin-top: 5px;
  margin-left: 10px;
}

/* MAIN DIVS FOR PICTURES AND TEXT */

.readpic-card{
  background-color: white;
  height: 300px;
  margin-top: 10%;
  border-radius: 10%;
  border: 10px solid green;
}

.readtext-card {
  background-color: white;
  height: 100px;
  margin-top: 10%;
  border-radius: 10%;
  border: 6px solid green;
  text-align: center;
}

.text {
  font-weight: bold;
}

/* PICTURES */

.carpic, .catpic, .doorpic {
  height: 100%;
  width: 100%;
}

/* NEW CLASSES WHEN DIVS ARE CLICKED */

.pairone {
  border: 10px solid red; /* red */
}

.pairtwo {
  border: 10px solid #8A7090; /* purple */
}

.pairthree {
  border: 10px solid #63D2FF; /* blue */
}

/* FOOTER */

.game-card-footer {
  height: 35px;
  width: 100%;
  background-color: green;
  color: white;
  font-size: 30px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0;
}
