.spellgame-title {
  color: white;
  font-size: 30pt;
  text-align: center;
}

.btn {
  border: 1px solid green;
}

#SpellPic {
  margin-top: 40px;
  height: 250px;
  border: 1px solid black;
  padding: 0;
}

#SpellBox {
  margin-top: 50px;
  text-align: center;
  color: black;
  font-size: 42pt;
  font-weight: bold;
}

#SpaceDiv {
  font-weight: bold;
  font-size: 42pt;
  text-align: center;
}

#Score {
  margin-top: 50px;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

#HomeButton {
  font-size: 20pt;
  margin-top: 20px;
  display: none;
}
