.game-title {
  color: white;
  font-size: 30pt;
  text-align: center;
}

.btn {
  border: 1px solid green;
}

#SpellPic {
  margin-top: 10%;
  height: 250px;
  border: 1px solid black;
  padding: 0;
}

#SpellBox {
  margin-top: 50px;
  text-align: center;
  color: black;
  font-size: 42pt;
  font-weight: bold;
}

#SubmitButton {
  text-align: center;
  margin-top: 15px;
}
