header {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 10000;
  background-color: green;
}

body {
  background-color: lightgreen;
  padding: 0;
  margin: 0;
}

#Welcome {
  font-size: 50px;
  color: white;
  align: left;
  margin-top: 5px;
  margin-left: 10px;
}
/* sidebar start*/
#sidebar {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #51b5f6;
  color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}
#sidebar .sidebarCollapse{
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.close-sidebar{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  padding-right:15px;
  padding-bottom: 30px;

}

.nav-title {
  margin-left: 40px;
}

.nav-btn {
  color: #ff6a58;
}


#sidebar li {
  list-style: none;
  text-decoration: none;
}
#sidebar a {
  color: #fff;
}

#sidebar a:hover {
  color: #007bff
}

#sidebar li a:hover {
  text-decoration: none;
}


/* sidebar end */



.game-card {
  background-color: white;
  height: 400px;
  margin-top: 5%;
  border-radius: 10%;
  border: 10px solid green;
}

#Card_1 {
  background-image: url("https://unsplash.com/photos/J9TV0hiN1y0");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#Card_2 {
  background-image: url("https://unsplash.com/photos/p_KJvKVsH14");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#Card_3 {
  background-image: url("https://unsplash.com/photos/cHhbULJbPwM");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.game-card-footer {
  height: 35px;
  width: 100%;
  background-color: green;
  color: white;
  font-size: 30px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0;
}

@media screen and (max-height: 450px) {
  #sidebar {padding-top:15px;}
}
